# Các thư mục bin và obj của Visual Studio và các thư mục khác không cần thiết
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult/
build/
project.lock.json
project.fragment.lock.json
artifacts/


.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

.env
appsettings.json
appsettings.*.json
launchSettings.json


*.tmp
*.temp
*.log
*.cache
*.pdb
*.rsrc
*.pyc
*.class
*.DS_Store
*.vscode/


lib/
node_modules/
packages/

docker-compose*.yml
docker-compose.override.yml
.dockerignore


.idea/
*.sln.iml